<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmc.taximeter">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxiMeter"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDy3ukzpNqsi-t5MV_V-4C6I0P9xfvU3Z0" />

        <!-- Splash Activity comme point d'entrée -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Activity -->
        <activity
            android:name=".AuthenticationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TaxiMeter"
            android:configChanges="orientation|keyboardHidden|screenSize|locale" />

        <!-- Edit Profile Activity -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.TaxiMeter"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Meter Service -->
        <service
            android:name=".MeterService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>


</manifest>
